/* styles.css using flexbox layout */
        body {
            width: 95%;
            margin: 20px auto;
            font-family: Verdana, sans-serif;
            color: wheat;
            background-color:brown;
        }


        /*Changed flex direction, border color, border radius*/
        #container {
            display: flex;
            flex-direction: column-reverse;
            border: 1px solid;
            border-color: yellow;
            border-radius: 10%;

        }

        nav {
            flex: 0 1 20%;
            border-right: 1px solid;
            padding: 2px;
        }

        main {
            flex: 0 1 60%;
            border-right: 1px solid;
            padding: 2px;
        }

        aside {
            flex: 0 1 20%;
            padding: 2px;
        }
        /*changed text color, background color, padding */
        .banner {
            background-color: black;
            color: #fff;
            display: flex;
            flex-direction: row;
            padding-left: 15px;
        }

        .left-panel {
            flex: 0 1 30%;
        }

        .right-panel {
            flex: 0 1 70%; font-size: 1.2rem;
        }